.LaunchPageContainer {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
}

.InstallSection {
    display: flex;
    height: 300px;
    width: 100%;
    padding-top: 20px;
    flex-direction: row;
    justify-content: space-between;
}

.AppLogoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.AppLogoImage {
    border-radius: 50px;
    max-width: 35%;
    max-height: 100%;
}

.AppLogoText {
    display: table-cell;
    height: '100%';
    padding-left: 15px;
    font-size: 40px;
    font-weight: 600;
    text-align: left;
}

.DownloadContainer {
    display: flex;
    flex-direction: column; 
    height: 100%;
    align-items: center;
    justify-content: center;
}

.AndroidLogo {
    max-width: 50%;
    max-height: 50%;
}

.DownloadButton {
    color: white;
    padding: 5px;
    background-color: rgb(46, 95, 255);
    border-radius: 10px;
    font-size: 60px;
}

.DownloadButton:active  {
    color: rgb(29, 213, 219);
    padding: 5px;
    background-color: rgb(46, 95, 255);
    border-radius: 10px;
    font-size: 60px;
}

.ScreenShotSection {
    display: flex;
    height: 500px;
    width: 100%;
    margin-top: 20px;
    flex-direction: row;
}

.Screenshot {
    margin-right: 20px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.DescriptionSection {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: left;
}

.DescriptionLabel {
    margin-top: 20px;
    font-size: 40px;
    font-weight: 600;
}

.DescriptionText {
    font-size: 30px;
    hyphens: auto;
}

.currentImage {
    position: absolute;
    max-height: 90%;
    transform: translate(-50%);
    border-radius: 10px;
    top: 5%;
}